In [2]:
import pandas as pd

In [3]:
df= pd.read_csv('Slicing.csv')
df

    Unnamed: 0         A   B  C         D
0            0  0.374540  63  Z -0.124132
1            1  0.950714  96  Z  0.740341
2            2  0.731994  52  Z -0.452462
3            3  0.598658  96  Y  0.777050
4            4  0.156019   4  Z  1.045571
..         ...       ...  .. ..       ...
95          95  0.493796  73  X  2.111318
96          96  0.522733  59  Y  0.686849
97          97  0.427541  70  Z  0.070972
98          98  0.025419  80  X  0.439327
99          99  0.107891  93  X -0.108498

[100 rows x 5 columns]

In [4]:
#the first five rows of the dataset
df.head()

   Unnamed: 0         A   B  C         D
0           0  0.374540  63  Z -0.124132
1           1  0.950714  96  Z  0.740341
2           2  0.731994  52  Z -0.452462
3           3  0.598658  96  Y  0.777050
4           4  0.156019   4  Z  1.045571

In [6]:
#the last five rows of the dataset
df.tail()

    Unnamed: 0         A   B  C         D
95          95  0.493796  73  X  2.111318
96          96  0.522733  59  Y  0.686849
97          97  0.427541  70  Z  0.070972
98          98  0.025419  80  X  0.439327
99          99  0.107891  93  X -0.108498

In [10]:
#rows and columns are there in the dataset
df.shape

(100, 5)

In [12]:
# data types of each column
df.dtypes

Unnamed: 0      int64
A             float64
B               int64
C              object
D             float64
dtype: object

In [14]:
# maximum value in column 'A'
df['A'].max()

0.9868869366005172

In [16]:
#How many rows have 'Y' in column 'C'?
c='Y'
df[[df['C']==c]].shape[0]

KeyError: False