In [2]:
import pandas as pd

In [3]:
df= pd.read_csv('Slicing.csv')
df

    Unnamed: 0         A   B  C         D
0            0  0.374540  63  Z -0.124132
1            1  0.950714  96  Z  0.740341
2            2  0.731994  52  Z -0.452462
3            3  0.598658  96  Y  0.777050
4            4  0.156019   4  Z  1.045571
..         ...       ...  .. ..       ...
95          95  0.493796  73  X  2.111318
96          96  0.522733  59  Y  0.686849
97          97  0.427541  70  Z  0.070972
98          98  0.025419  80  X  0.439327
99          99  0.107891  93  X -0.108498

[100 rows x 5 columns]

In [4]:
#the first five rows of the dataset
df.head()

   Unnamed: 0         A   B  C         D
0           0  0.374540  63  Z -0.124132
1           1  0.950714  96  Z  0.740341
2           2  0.731994  52  Z -0.452462
3           3  0.598658  96  Y  0.777050
4           4  0.156019   4  Z  1.045571

In [6]:
#the last five rows of the dataset
df.tail()

    Unnamed: 0         A   B  C         D
95          95  0.493796  73  X  2.111318
96          96  0.522733  59  Y  0.686849
97          97  0.427541  70  Z  0.070972
98          98  0.025419  80  X  0.439327
99          99  0.107891  93  X -0.108498

In [10]:
#rows and columns are there in the dataset
df.shape

(100, 5)

In [12]:
# data types of each column
df.dtypes

Unnamed: 0      int64
A             float64
B               int64
C              object
D             float64
dtype: object

In [14]:
# maximum value in column 'A'
df['A'].max()

0.9868869366005172

In [22]:
#How many rows have 'Y' in column 'C'?
Count='Y'
using_Shape=df[df['C']==Count].shape[0]
print(using_Shape)
count=df[df['C']==Count]['C'].count()
print(count)

30
30

In [23]:
#Extract rows where column 'B' is greater than 50
condition=df[df['B']>50]
print(condition)

    Unnamed: 0         A   B  C         D
0            0  0.374540  63  Z -0.124132
1            1  0.950714  96  Z  0.740341
2            2  0.731994  52  Z -0.452462
3            3  0.598658  96  Y  0.777050
5            5  0.155995  94  Z -0.342142
13          13  0.212339  71  Z -0.808937
14          14  0.181825  59  X  1.057424
15          15  0.183405  86  X  0.051361
17          17  0.524756  66  Z  1.066199
20          20  0.611853  62  Y  0.905122
21          21  0.139494  57  Z -0.603904
26          26  0.199674  84  Y  1.437356
28          28  0.592415  62  Y  1.330881
29          29  0.046450  75  X  0.988203
30          30  0.607545  92  X  0.232296
31          31  0.170524  89  Z  0.176181
32          32  0.065052  62  Z -1.152565
33          33  0.948886  97  X -1.500768
36          36  0.304614  62  Z -0.039636
37          37  0.097672  77  Z -0.534663
39          39  0.440152  70  X  0.357305
40          40  0.122038  72  Z -0.414532
43          43  0.909320  62  Y -0.334817
45          45  0.662522  97  Y  0.128551
46          46  0.311711  51  X  0.549576
49          49  0.184854  79  X  1.843414
50          50  0.969585  59  Y  1.363435
52          52  0.939499  96  Y  0.015143
53          53  0.894827  88  Y  0.442074
54          54  0.597900  52  Y  1.048020
55          55  0.921874  62  Z -0.628570
56          56  0.088493  58  X -0.444499
57          57  0.195983  52  X -1.669132
62          62  0.828738  56  Z  0.317767
63          63  0.356753  81  Z -1.612227
64          64  0.280935  59  X  0.945382
67          67  0.802197  92  Z  1.651351
68          68  0.074551  54  Y -1.326832
69          69  0.986887  87  Z  1.843716
70          70  0.772245  96  Y -0.730741
71          71  0.198716  97  Y -1.279920
75          75  0.729007  53  X -0.932592
77          77  0.074045  90  Y -0.105119
79          79  0.115869  70  Z -1.300193
81          81  0.623298  68  X  1.323264
82          82  0.330898  55  Y -0.128412
83          83  0.063558  75  X -0.465665
84          84  0.310982  56  Z  0.058509
88          88  0.887213  69  Z -0.202458
89          89  0.472215  98  Z  0.060897
90          90  0.119594  70  X  0.647163
91          91  0.713245  86  X  0.126095
94          94  0.770967  97  Y -0.615134
95          95  0.493796  73  X  2.111318
96          96  0.522733  59  Y  0.686849
97          97  0.427541  70  Z  0.070972
98          98  0.025419  80  X  0.439327
99          99  0.107891  93  X -0.108498

In [25]:
#Retrieve rows where column 'A' is less than 0.5 and column 'D' is greater than 0.
rows=df[(df['A']<0.5) & (df['D']>0)]
print(rows)

    Unnamed: 0         A   B  C         D
4            4  0.156019   4  Z  1.045571
10          10  0.020584  36  Z  0.630075
14          14  0.181825  59  X  1.057424
15          15  0.183405  86  X  0.051361
16          16  0.304242  28  Y  0.872447
19          19  0.291229  45  Y  1.382005
22          22  0.292145   6  Z  0.304449
23          23  0.366362  28  Y  0.257207
24          24  0.456070  28  X  0.023932
26          26  0.199674  84  Y  1.437356
29          29  0.046450  75  X  0.988203
31          31  0.170524  89  Z  0.176181
39          39  0.440152  70  X  0.357305
41          41  0.495177  27  X  0.080199
44          44  0.258780  37  Z  1.560380
46          46  0.311711  51  X  0.549576
49          49  0.184854  79  X  1.843414
59          59  0.325330  39  X  1.661302
64          64  0.280935  59  X  0.945382
66          66  0.140924   2  Z  0.377296
84          84  0.310982  56  Z  0.058509
85          85  0.325183  17  X  2.347997
89          89  0.472215  98  Z  0.060897
90          90  0.119594  70  X  0.647163
95          95  0.493796  73  X  2.111318
97          97  0.427541  70  Z  0.070972
98          98  0.025419  80  X  0.439327

In [27]:
#mean value of column 'B'?
mean=df['B'].mean()
mean

52.3

In [28]:
#standard deviation of column 'D'?
deviation=df['D'].std()
deviation

1.0087250549090303

In [31]:
##median of column 'A'.
median1=df['A'].median()
median1

0.46414245468949256

In [32]:
#new column 'E' which is the product of columns 'A' and 'D'
df['E']=df['A']*df['D']
df

    Unnamed: 0         A   B  C         D         E
0            0  0.374540  63  Z -0.124132 -0.046493
1            1  0.950714  96  Z  0.740341  0.703853
2            2  0.731994  52  Z -0.452462 -0.331200
3            3  0.598658  96  Y  0.777050  0.465187
4            4  0.156019   4  Z  1.045571  0.163129
..         ...       ...  .. ..       ...       ...
95          95  0.493796  73  X  2.111318  1.042559
96          96  0.522733  59  Y  0.686849  0.359038
97          97  0.427541  70  Z  0.070972  0.030344
98          98  0.025419  80  X  0.439327  0.011167
99          99  0.107891  93  X -0.108498 -0.011706

[100 rows x 6 columns]

In [39]:
#Group the data by column 'C' and find the average value of column 'B' for each group.
grouped_data = df.groupby('C')['B'].mean()
grouped_data

C
X    49.583333
Y    51.033333
Z    56.294118
Name: B, dtype: float64

In [44]:
df[df['C']=='X']['B'].mean()

49.583333333333336

In [45]:
df[df['C']=='Y']['B'].mean()

51.03333333333333

In [46]:
df[df['C']=='Z']['B'].mean()

56.294117647058826

In [52]:
#Sort the DataFrame based on column 'A' in descending order.
sorted= df.sort_values(by='A' ,ascending=False)
sorted

    Unnamed: 0         A   B  C         D         E
69          69  0.986887  87  Z  1.843716  1.819539
11          11  0.969910  13  Y  1.762937  1.709890
50          50  0.969585  59  Y  1.363435  1.321966
34          34  0.965632   1  X  0.165023  0.159351
1            1  0.950714  96  Z  0.740341  0.703853
..         ...       ...  .. ..       ...       ...
58          58  0.045227  12  X -0.771819 -0.034907
42          42  0.034389   9  Y -0.893120 -0.030713
98          98  0.025419  80  X  0.439327  0.011167
10          10  0.020584  36  Z  0.630075  0.012970
72          72  0.005522   1  Y -0.237392 -0.001311

[100 rows x 6 columns]

In [53]:
df['C'] = df['C'].replace('X', 'NewValue')
print(df)

    Unnamed: 0         A   B         C         D         E
0            0  0.374540  63         Z -0.124132 -0.046493
1            1  0.950714  96         Z  0.740341  0.703853
2            2  0.731994  52         Z -0.452462 -0.331200
3            3  0.598658  96         Y  0.777050  0.465187
4            4  0.156019   4         Z  1.045571  0.163129
..         ...       ...  ..       ...       ...       ...
95          95  0.493796  73  NewValue  2.111318  1.042559
96          96  0.522733  59         Y  0.686849  0.359038
97          97  0.427541  70         Z  0.070972  0.030344
98          98  0.025419  80  NewValue  0.439327  0.011167
99          99  0.107891  93  NewValue -0.108498 -0.011706

[100 rows x 6 columns]

In [58]:
#Change values in column 'B' to 0 where column 'D' is negative.
df.loc[df['D'] < 0, 'B'] = 0
df

    Unnamed: 0         A   B         C         D         E
0            0  0.374540   0         Z -0.124132 -0.046493
1            1  0.950714  96         Z  0.740341  0.703853
2            2  0.731994   0         Z -0.452462 -0.331200
3            3  0.598658  96         Y  0.777050  0.465187
4            4  0.156019   4         Z  1.045571  0.163129
..         ...       ...  ..       ...       ...       ...
95          95  0.493796  73  NewValue  2.111318  1.042559
96          96  0.522733  59         Y  0.686849  0.359038
97          97  0.427541  70         Z  0.070972  0.030344
98          98  0.025419  80  NewValue  0.439327  0.011167
99          99  0.107891   0  NewValue -0.108498 -0.011706

[100 rows x 6 columns]